<div class="w-full h-full flex flex-col">
  <div class="bg-blue-900 text-white text-center h-[120dvh] flex flex-col p-1 px-[8vw] pr-0  mt-[-10px] ml-[-15px]">
    <div class="mb-4 mt-4  flex">
      <img src="./assets/logo.png" alt="Ople Logo" class="left-[-80px] relative  w-[100] h-[100%]">
    </div>
    <div class="flex flex-col items-center mb-4">
      <!-- <div > -->
      <img class="w-[80%] h-full max-w-min ml-auto mt-[-50px] mb-40 2xl:mb-0 xl:mb-10" src="./assets/ople-hero.png"
        alt="Hero Image">
      <!-- </div> -->
      <h1
        class="tracking-normal font-bold text-4xl lg:text-6xl xl:text-7xl leading-tight text-start mt-4  text-white mr-auto mt-[-170px]">
        Where inspired teachers<br>inspire teachers<br>
        <span class="text-yellow-400">through short-form video</span>
      </h1>
    </div>
    <div class="w-full flex">
      <button
        class="bg-transparent border-2 border-green-400 text-green-400 py-4 px-16 font-bold rounded-full hover:bg-green-400 hover:text-white mt-4 mx-auto  md:mx-0">
        JOIN THE WAITLIST!
      </button>
    </div>
  </div>

  <!-- <div class="bg-blue-900 h-[20vh]"> -->
  <div class="flex px-[8vw] flex-col-reverse md:flex-row  ">
    <div class="w-full md:w-1/2 text-blue-900 p-8 md:pl-12 lg:pl-24">
      <h2 class="text-2xl md:text-4xl tracking-normal font-bold mt-8 md:mt-20">
        Curious what’s happening in other<br>teachers’ classrooms?<br><br>
        Want to learn directly from peers?<br><br>
        Short on time and could use a<br>little inspiration?<br><br>
        <span class="text-orange-500 text-2xl sm:text-4xl">Ople is for you.</span>
      </h2>
    </div>
    <div class="w-full md:w-1/2">
      <img src="./assets/hero-char.png" alt="Character Image"
        class="w-1/3 md:w-auto mt-[-50px] md:max-h-[90vh] mx-auto md:mt-[-130px]">
    </div>
  </div>

  <div class="p-8 h-auto bg-gray-100 flex flex-col md:flex-row items-center">
    <div class="w-full md:w-1/2">
      <img src="./assets/section3.png" alt="Section 3 Image" class="w-full h-auto mx-auto ">
    </div>
    <div class="w-full h-full md:w-1/2 p-8 text-blue-900 md:pl-12 lg:pl-24">
      <h3 class="text-3xl font-bold  mt-4 ">
        Ople is a new app where pk-12 educators are the experts — sharing best practices, insights, strategies, and
        ideas through short-form video.<br><br>
        Ople places the learning teachers want at their fingertips, in 1-5 minute videos made by teachers for teachers
        down the hall, across the country, and beyond.
      </h3>
    </div>
  </div>

  <div class="flex h-auto flex-col md:flex-row justify-around pl-[7vw] pr-8 mt-[90px]">
    <div class="text-center mb-8 flex flex-col justify-start items-start md:mb-0 md:w-1/4">
      <h1 class="text-blue-900 text-4xl font-bold mb-4 text-left">Key App Features</h1>
      <ul class="text-green-400 text-2xl font-semibold flex flex-col justify-center h-full">
        <li class="mb-4 border-b border-green-400 pb-2 text-left">Search for and discover new ideas</li>
        <li class="mb-4 border-b border-green-400 pb-2 text-left">Share, save, and organize unlimited videos</li>
        <li class="border-b border-green-400 pb-2 text-left">Engage and collaborate with peers anywhere</li>
      </ul>
    </div>
    <div class="flex  justify-center gap-3 md:w-3/4">
      <div class="w-full md:w-1/3">
        <img src="./assets/s4-1.png" alt="Feature Image 1" class="w-auto h-auto max-h-fit mx-auto">
      </div>
      <div class="w-full md:w-1/3">
        <img src="./assets/s4-2.png" alt="Feature Image 2" class="w-auto h-auto max-h-fit mx-auto">
      </div>
      <div class="w-full md:w-1/3">
        <img src="./assets/s4-3.png" alt="Feature Image 3" class="w-auto h-auto max-h-fit mx-auto">
      </div>
    </div>
  </div>

  <div>
    <div class="bg-yellow-400 h-[60vh] text-center text-blue-900 py-24 px-4">
      <h3 class="text-lg px-24 sm:text-xl font-semibold" style="font-size: 23px;">
        Ople is for any pk-12 educator, school, or district — for ongoing, active, bite-sized professional learning,
        spotlighting excellence or calibrating curriculum, or the dissemination of new and novel ideas.<br><br>
        Ople's mobile platform, verified educator community, and library of teacher-produced and vetted videos will be
        available for individual and school-based adoption in the 2024–2025 school year.
      </h3>
    </div>

    <div class="bg-blue-900 md:h-[50vh] text-center py-8">
      <div class="flex flex-col md:flex-row justify-center relative md:top-[-30vh] gap-8">
        <div class="text-yellow-400 text-lg sm:text-xl">
          <img src="./assets/s5-1.png" alt="Beta Test" class="mx-auto mb-4 h-96">
          <p>Participate in a Beta Test</p>
        </div>
        <div class="text-yellow-400 text-lg sm:text-xl">
          <img src="./assets/s5-2.png" alt="Early Creator" class="mx-auto mb-4 h-96">
          <p>Become an early Creator</p>
        </div>
        <div class="text-yellow-400 text-lg sm:text-xl">
          <img src="./assets/s5-3.png" alt="Early Partner" class="mx-auto mb-4 h-96">
          <p>Become an early Partner</p>
        </div>
        <div class="text-yellow-400 text-lg sm:text-xl">
          <img src="./assets/s5-4.png" alt="Keep in Touch" class="mx-auto mb-4 h-96">
          <p>Keep in touch until Launch</p>
        </div>
      </div>
    </div>
  </div>

  <section id="section6" class="bg-gray-200 text-center py-8">
    <h1 class="text-[#eb674c] text-4xl sm:text-6xl mb-4 px-14">Join the Waitlist!</h1>
    <h3 class="text-blue-900 text-lg sm:text-2xl font-semibold mb-2">
      Provide your email to stay in touch. When Ople launches later this year, you'll be among the first to benefit.
    </h3><br>
    <h3 class="text-blue-900 text-lg sm:text-2xl font-semibold mb-8">
      We know your time and attention are valuable, and promise we won't clog your inbox!
    </h3>
    <form class="w-full sm:w-3/4 mx-auto">
      <div class="flex flex-col md:flex-row gap-8 mb-8">
        <div class="flex-1">
          <label for="firstName" class="block text-left mb-2 text-lg text-gray-700">First Name</label>
          <input type="text" id="firstName" name="firstName" required
            class="w-full p-4 border border-gray-300 rounded-full bg-transparent">
        </div>
        <div class="flex-1">
          <label for="lastName" class="block text-left mb-2 text-lg text-gray-700">Last Name</label>
          <input type="text" id="lastName" name="lastName"
            class="w-full p-4 border border-gray-300 rounded-full bg-transparent">
        </div>
      </div>
      <div class="mb-8">
        <label for="email" class="block text-left mb-2 text-lg text-gray-700">Email</label>
        <input type="email" id="email" name="email" required
          class="w-full p-4 border border-gray-300 rounded-full bg-transparent">
      </div>
      <div class="flex items-center mb-8">
        <input type="checkbox" name="updates" class="mr-2">
        <label for="updates" class="text-left">Sign up for news and updates</label>
      </div>
      <button type="submit" class="py-3 px-8 border-2 border-green-400 text-green-400 rounded-full">
        Submit
      </button>
    </form>
  </section>

  <footer class="bg-white text-center py-4 w-full">
    <div class="mb-4">
      <img src="./assets/footer.png" alt="Footer Image" class="mx-auto">
    </div>
    <p>&copy; 2024 Ople</p>
  </footer>
</div>