<div class="w-full h-full flex flex-col font-inter">
  <div
    class=" bg-blue-900 text-white text-center h-[110dvh] md:h-[135dvh] flex flex-col p-1 px-[8vw] pr-0  mt-[-10px] ml-[-15px]">
    <div class="animate-fade mb-4 mt-4  flex justify-start pt-10">
      <img  src="./assets/logo.png" alt="Ople Logo" class="animate-fade relative ml-[-2vw] min-h-[160px] h-[220px] lg:h-[15vw] pb-20 lg:pb-auto">
    </div>
    <div class="animate-fade flex flex-col items-center mb-4">
      <!-- <div > -->
      <img class="animate-fade w-[70%] lg:w-[60%] h-full max-w-min ml-auto mt-[-100px] mb-44 2xl:mb-0 xl:mb-12"
        src="./assets/ople-hero.png" alt="Hero Image">
      <!-- </div> -->
      <h1 class="  tracking-normal font-bold  text-[2.75rem] lg:text-h1 leading-tight text-start text-white mr-auto mt-[-170px]">
        Where inspired teachers<br>inspire teachers<br>
        <span class="animate-fade text-yellow-400">through short-form video</span>
      </h1>
    </div>
    <div class="animate-fade w-full flex">
      <button
        class="animate-fade bg-transparent border-2 border-green-400 text-green-400 py-7 px-20 font-bold rounded-full hover:bg-green-400 hover:text-white mt-4  md:mx-0">
        JOIN THE WAITLIST!
      </button>
    </div>
  </div>

  <!-- <div class="animate-fade bg-blue-900 h-[20vh]"> -->
  <div class="animate-fade flex md:px-[8vw] flex-col-reverse md:flex-row  ">
    <div class="animate-fade w-full md:w-1/2 text-blue-900 p-8 md:pl-12 lg:pl-24">
      <h2 class="animate-fade text-h2 tracking-normal font-semibold mt-8 md:mt-20">
        Curious what’s happening in other teachers’ classrooms?<br><br>
        Want to learn directly from peers?<br><br>
        Short on time and could use a little inspiration?<br><br>
        <span class="animate-fade text-orange-500">Ople is for you.</span>
      </h2>
    </div>
    <div class="animate-fade w-full md:w-1/2">
      <img src="./assets/hero-char.png" alt="Character Image"
        class="animate-fade md:w-auto mt-[-50px] h-[304px] right-0 w-auto min-w-[152px] md:h-auto md:max-h-[90vh] mx-auto mr-[18%] md:mr-auto md:mt-[-130px]">
    </div>
  </div>

  <div class="animate-fade p-8 h-auto bg-gray-100 flex flex-col md:flex-row items-center">
    <div class="animate-fade w-full md:w-1/2">
      <img src="./assets/section3.png" alt="Section 3 Image" class="animate-fade w-full h-auto mx-auto ">
    </div>
    <div class="animate-fade w-full h-full md:w-1/2 p-8 text-blue-900 md:pl-12 lg:pl-24">
      <h3 class="animate-fade text-h3 font-bold  mt-4 ">
        Ople is a new app where pk-12 educators are the experts — sharing best practices, insights, strategies, and
        ideas through short-form video.<br><br>
        Ople places the learning teachers want at their fingertips, in 1-5 minute videos made by teachers for teachers
        down the hall, across the country, and beyond.
      </h3>
    </div>
  </div>

  <div class="animate-fade flex h-auto flex-col md:flex-row justify-around pl-[7vw] pr-8 mt-[90px]">
    <div class="animate-fade text-center mb-8 flex flex-col justify-start items-start md:mb-0 md:w-1/4">
      <h1 class="animate-fade text-blue-900 text-4xl font-bold mb-4 text-left">Key App Features</h1>
      <ul
        class="animate-fade text-green-400 text-h3 w-[100%] md:w-[80%] mr-8 font-semibold flex flex-col justify-center h-full">
        <li class="animate-fade mb-4 border-b border-green-400 pb-2 text-left">Search for and discover new ideas</li>
        <li class="animate-fade mb-4 border-b border-green-400 pb-2 text-left">Share, save, and organize unlimited
          videos</li>
        <li class="animate-fade mb-4 border-b border-green-400 pb-2 text-left">Engage and collaborate with peers
          anywhere</li>
      </ul>
    </div>
    <div class="animate-fade flex  justify-center items-end gap-3 md:w-3/4">
      <div class="animate-fade w-full md:w-1/3">
        <img src="./assets/s4-1.png" alt="Feature Image 1" class="animate-fade w-auto h-auto max-h-fit mx-auto">
      </div>
      <div class="animate-fade w-full md:w-1/3">
        <img src="./assets/s4-2.png" alt="Feature Image 2" class="animate-fade w-auto h-auto max-h-fit mx-auto">
      </div>
      <div class="animate-fade w-full md:w-1/3">
        <img src="./assets/s4-3.png" alt="Feature Image 3" class="animate-fade w-auto h-auto max-h-fit mx-auto">
      </div>
    </div>
  </div>

  <div>
    <div class="animate-fade bg-yellow-400 h-auto  text-center text-blue-900 md:py-40 px-[20%]">
      <h3 class="animate-fade py-16 text-h3 font-semibold">
        Ople is for any pk-12 educator, school, or district — for ongoing, active, bite-sized professional learning,
        spotlighting excellence or calibrating curriculum, or the dissemination of new and novel ideas.<br><br>
        Ople's mobile platform, verified educator community, and library of teacher-produced and vetted videos will be
        available for individual and school-based adoption in the 2024–2025 school year.
      </h3>
    </div>

    <div class="animate-fade flex justify-center bg-blue-900 h-auto text-center pb-20 md:pb-auto ">
      <div
        class="animate-fade flex flex-col md:flex-row justify-evenly mx-[5%] relative md:top-[-15vw] max-w-[75%] xl:top-[-230px]">
        <div class="animate-fade text-yellow-400 text-h3 md:w-[18%]">
          <img src="./assets/s5-1.png" alt="Beta Test" class="animate-fade md:w-auto w-[150px] mx-auto md:mb-[30%]">
          <p class="animate-fade text-h3 font-semibold">Participate in a Beta Test</p>
        </div>
        <div class="animate-fade text-yellow-400 text-h3 md:w-[18%]">
          <img src="./assets/s5-2.png" alt="Early Creator" class="animate-fade md:w-auto w-[150px] mx-auto md:mb-[30%]">
          <p class="animate-fade text-h3 font-semibold">Become an early Creator</p>
        </div>
        <div class="animate-fade text-yellow-400 text-h3 md:w-[18%]">
          <img src="./assets/s5-3.png" alt="Early Partner" class="animate-fade md:w-auto w-[150px] mx-auto md:mb-[30%]">
          <p class="animate-fade text-h3 font-semibold">Become an early Partner</p>
        </div>
        <div class="animate-fade text-yellow-400 text-h3 md:w-[18%]">
          <img src="./assets/s5-4.png" alt="Keep in Touch" class="animate-fade md:w-auto w-[150px] mx-auto md:mb-[30%]">
          <p class="animate-fade text-h3 font-semibold">Keep in touch until Launch</p>
        </div>
      </div>
    </div>
  </div>

  <section id="section6" class="animate-fade bg-[#E9ECEF] text-center pt-32 pb-20">
    <div class="px-[22%]">
      <h1 class="animate-fade text-[#eb674c] text-5xl lg:text-h1 font-bold mb-4">Join the Waitlist!</h1>
      <h3 class="animate-fade text-blue-900 text-h3 font-semibold pt-[10%]">
        Provide your email to stay in touch. When Ople launches later this year, you'll be among the first to benefit.
      </h3><br>
      <h3 class="animate-fade text-blue-900 text-h3 font-semibold mb-8 pt-[10px]">
        We know your time and attention are valuable, and promise we won't clog your inbox!
      </h3>
    </div>
    <form class="animate-fade  w-5/6 mx-auto lg:w-auto lg:mx-[23%]">
      <div>
        <div class="text-left font-semibold tracking-widest text-xl text-green-400">NAME <span
            class="tracking-tight text-gray-500 ">(<span class="text-lg">required</span>)</span></div>
        <div class="animate-fade flex flex-row gap-8 mb-8">
          <div class="animate-fade w-full ">
            <label for="firstName" class="animate-fade block text-left mb-2 text-lg text-gray-700">First Name</label>
            <input type="text" id="firstName" name="firstName" required
              class="animate-fade w-full p-2 border border-gray-700 rounded-full bg-transparent">
          </div>
          <div class="animate-fade w-full">
            <label for="lastName" class="animate-fade block text-left mb-2 text-lg text-gray-700">Last Name</label>
            <input type="text" id="lastName" name="lastName"
              class="animate-fade w-full p-2 border border-gray-700 rounded-full bg-transparent">
          </div>
        </div>
      </div>

      <div class="animate-fade mb-1">
        <div class="text-left font-semibold tracking-widest text-xl text-green-400">EMAIL <span
            class="tracking-tight text-gray-500 ">(<span class="text-lg">required</span>)</span></div>
        <!-- <label for="email" class="animate-fade block text-left mb-2 text-lg text-gray-700">Email</label> -->
        <input type="email" id="email" name="email" required
          class="animate-fade w-full p-2 border border-gray-700 rounded-full bg-transparent">
      </div>
      <div class="animate-fade flex items-center mb-8">
        <input type="checkbox" name="updates" class="animate-fade mr-2">
        <label for="updates" class="animate-fade text-left">Sign up for news and updates</label>
      </div>
      <button type="submit" class="animate-fade py-3 px-8 border-2 border-green-400 text-green-400 rounded-full">
        Submit
      </button>
    </form>
  </section>

  <footer class="animate-fade bg-white text-center py-16 w-full">
    <div class="animate-fade mb-4">
      <img src="./assets/footer.png" alt="Footer Image" class="h-auto  w-[100px] animate-fade mx-auto">
    </div>
    <p class="font-bold text-gray-400">&copy; 2024 Ople</p>
  </footer>
</div>